.thumbnail {
    width: 100%;
}

.video-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.video-link {
    text-decoration: none;
    color: inherit;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.channel-tooltip {
    width: 200px;
    padding: 12px 12px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .3);
    border-radius: 10px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.15s;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
}

.profile-picture-container:hover .channel-tooltip {
    opacity: 1;
}

.channel-picture-tooltip {
    height: 50px;
    border-radius: 25px;
}

.channel-tooltip-text {
    margin-left: 10px;
    font-family: Roboto, Arial;
}

.channel-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.subscribers {
    color: rgb(95, 95, 95);
    font-size: 14px;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: #606060;
}

.video-author {
    margin-bottom: 4px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-time {
    font-family: Roboto, Arial;
    font-size: 12ps;
    font-weight: 500px;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}